
/*==================================================
    39: My account
==================================================*/
/*39:01 dashboard nav*/
.dashboard-inner .nav-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    display: block;
}

.dashboard-inner {
    background: #fcfcfc;
    padding: 70px 0 70px 50px;
}

.dashboard-inner .nav-list li:not(:last-child) {
    padding-bottom: 28px;
}

.dashboard-inner .nav-list li a span {
    margin-right: 20px;
    vertical-align: middle;
}

.dashboard-inner .nav-list li a {
    font-size: 16px;
    font-weight: 700;
    color: #999999;
    font-family: 'Roboto Condensed', sans-serif;
}

.dashboard-inner .nav-list li a.active {
    color: #333333;
}

.dashboard-inner .nav-list li a.active svg .cls-1 {
    fill: #333333;
}
/*39:02 dashboard content*/
.deshboard-content-wrap {
    margin-top: 66px;
}

.dashboard-tab-info p {
    color: #777777;
    font-size: 16px;
    
}
.dashboard-tab-info p + p{
    margin-bottom: 0;
}

.dashboard-tab-info p span {
    font-size: 12px;
}

.dashboard-tab-info p span a {
    color: #333333;
    font-weight: 900;
}

.dashboard-tab-info p a {
    color: #333333;
    font-weight: 700;
}
/*39:03 order*/
.dashboard-order-table tbody tr th, .dashboard-order-table tbody tr td {
    padding: 20px;
}

table.dashboard-order-table {
    width: 100%;
    white-space: nowrap;
}

.dashboard-order-table tbody tr th {
    color: #333333;
    font-size: 16px;
    border-bottom: 1px solid;
}

.dashboard-order-table tbody tr td {
    border-bottom: 1px solid #eaeaea;
    color: #777777;
}

.dashboard-order-table tbody tr td:last-child {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.dashboard-order-table tbody tr td:last-child a {
    color: #555555;
}
/*39:04 download*/
.dashboard-tab-downlod p span i {
    font-size: 16px;
    margin-right: 7px;
    color: #ffcc00;
}

.dashboard-tab-downlod p {
    color: #777777;
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.dashboard-tab-downlod .go-shop-btn {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding: 12px 10px;
    background: #333333;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}
.passwrd-change-wrap .go-shop-btn:hover,
.dashboard-tab-downlod .go-shop-btn:hover{
    color: #333;
}
.passwrd-change-wrap .go-shop-btn:before,
.dashboard-tab-downlod .go-shop-btn:before{
    background: #fff;
}
/*39:05 address*/
.address-info-inner .shipping-address h5,
.address-info-inner .billing-information h5 {
    font-weight: 700;
    margin-bottom: 24px;
}

.address-info-inner .shipping-address ul,
.address-info-inner .billing-information ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.address-info-inner .shipping-address ul li,
.address-info-inner .billing-information ul li {
    padding-bottom: 9px;
    font-size: 16px;
    color: #777777;
}
.address-info-inner .shipping-address ul li:last-child a,
.address-info-inner .billing-information ul li:last-child a {
    color: #ff0000;
}
.address-info-inner .shipping-address ul li:last-child,
.address-info-inner .billing-information ul li:last-child {
    margin-top: 28px;
}

.address-info p {
    margin-bottom: 47px;
    font-size: 16px;
    color: #999999;
}
.billing-information {
    float: left;
    width: 50%;
}

.shipping-address {
    float: right;
    width: 50%;
}

/*39:06 account details*/
.account-details .theme-input-style {
    font-size: 14px;
    margin-bottom: 30px;
    padding-left: 23px;
    color: black !important;
}

.account-details .theme-input-style::-webkit-input-placeholder {
    color: black !important;
}

.account-details .theme-input-style::-moz-placeholder {
    color: black !important;
}

.account-details .theme-input-style:-ms-input-placeholder {
    color: black !important;
}

.account-details .theme-input-style::placeholder {
    color: black !important;
}

.account-details p {
    margin-top: -20px;
    font-size: 14px;
    font-style: italic;
    color: black;
}

.passwrd-change-wrap h5 {
    font-weight: 700;
    margin: 15px 0 36px;
}
.passwrd-change-wrap .go-shop-btn{
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding: 12px 20px;
    background: #333333;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    display: inline-block;
}

/*===============================================
   40: Order Tracking
===============================================*/


/* 46.06: Social icons */
.social-icons li:not(:last-child) {
    margin-right: 25px;
}

/* 46.07: Back to top */
.back-to-top{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: .3s all linear;
    transition: .3s all linear;
}
   
.back-to-top.show {
    bottom: 30px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    z-index: 999;
}
.back-to-top a {
    width: 35px;
    height: 35px;
   background: #000;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.60);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    bottom: 10%;
    right: 4%;
    position: fixed;
    z-index: 998;
    -webkit-transform: scale(0);
            transform: scale(0); 


}

.top-array {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    height: 8px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    width: 8px;
    position: absolute;
    left: 14px;
    top: 13px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.top-line {
    background-color: #fff;
    height: 10px;
    left: 18px;
    position: absolute;
    top: 14px;
    width: 2px;
    margin-left: -1px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.back-to-top.show a:hover .top-line {
    height: 14px;
    border-color: #000;
    background: #000;
    top: 12px;
}

.back-to-top a:hover .top-array {
    border-color: #000;
    top: 11px;
}

.back-toop-tooltip {
    position: absolute;
    top: -65px;
    -webkit-transform: rotate(-90deg) translateX(20px);
            transform: rotate(-90deg) translateX(20px);
    width: 100px;
    left: -33px;
    -webkit-transition: .6s all ease;
    transition: .6s all ease;
    line-height: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}

.back-toop-tooltip span {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
}

.back-to-top a:hover .back-toop-tooltip {
    -webkit-transform: rotate(-90deg) translateX(5px);
            transform: rotate(-90deg) translateX(5px);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}
.back-to-top.show a{
    -webkit-transform: scale(1);
            transform: scale(1);
}
.back-to-top a:hover {
    background: #fff;
    color: #000;
}
.back-to-top.home6 a {
    background: #00c6c6;
}


/* 46.08: Preloader */
.sk-cube-grid {
    width: 50px;
    height: 50px;
  }
  .sk-cube-grid .sk-cube.sk-cube5{
      background: #fff;
  }
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
  .preLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
    overflow: hidden;
}
.preloder-inner {
    margin: auto auto;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* 46.09: Form validation */
.parsley-errors-list {
    list-style: none;
    padding: 0;
    position: absolute;
    left: 0;
    margin: -10px 0 0;
    top: 100%;
    text-align: center;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.parsley-errors-list li {
    font-size: 13px;
    line-height: 1.5;
    background: red;
    color: #fff;
    padding: 0 10px;
    padding: 0 10px;
}

/* 46.10: Content animation */
[data-animate] {
    visibility: hidden;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
[data-animate].animated {
    visibility: visible;
}

.dashboard-inner ul.nav-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .dashboard-nav-item {
    display: block;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  .dashboard-nav-item span {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .dashboard-nav-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  
  .nav-list.nav li {
    display: block;
  }