{% load static %}

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="widget widget-link">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Online Store</a></li>
              <li><a href="blog-list.html">Blog</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget widget-link link-login">
            <ul>
              <li><a href="#">Login/ Register</a></li>
              <li><a href="#">Your Cart</a></li>
              <li><a href="#">Wishlist items</a></li>
              <li><a href="#">Your checkout</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget widget-link link-faq">
            <ul>
              <li><a href="faqs.html">FAQs</a></li>
              <li><a href="#">Term of service</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Returns</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget widget-brand">
            <div class="logo logo-footer">
              <a href="{% url 'home' %}"
                ><img
                  src="{% static 'images/logo@2x.png' %}"
                  alt="image"
                  width="107"
                  height="24"
              /></a>
            </div>
            <ul class="flat-contact">
              <li class="address">112 Kingdom, NA 12, New York</li>
              <li class="phone">+12 345 678 910</li>
              <li class="email">
                <a
                  href="https://themesflat.com/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="c3aaada5acb1eda7a6a6b1a0b1a6a2b7aab5a683a4aea2aaafeda0acae"
                  >[email&#160;protected]</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  

  <a class="go-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<script
  data-cfasync="false"
  src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
></script>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="{% static 'javascript/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'javascript/tether.min.js' %}"></script>
<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/jquery.easing.js' %}"></script>
<script src="{% static 'javascript/parallax.js' %}"></script>
<script src="{% static 'javascript/jquery-waypoints.js' %}"></script>
<script src="{% static 'javascript/jquery-countTo.js' %}"></script>
<script src="{% static 'javascript/jquery.countdown.js' %}"></script>
<script src="{% static 'javascript/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'javascript/images-loaded.js' %}"></script>
<script src="{% static 'javascript/jquery.isotope.min.js' %}"></script>
<script src="{% static 'javascript/magnific.popup.min.js' %}"></script>
<script src="{% static 'javascript/jquery.hoverdir.js' %}"></script>
<script src="{% static 'javascript/owl.carousel.min.js' %}"></script>
<script src="{% static 'javascript/equalize.min.js' %}"></script>
<script src="{% static 'javascript/gmap3.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEU6OT3xqCksCetQeNLIPps6-AYrhq-s&amp;region=GB"></script>
<script src="{% static 'javascript/jquery-ui.js' %}"></script>
<script src="{% static 'javascript/switcher.js' %}"></script>
<script src="{% static 'javascript/jquery.cookie.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>

<script src="{% static 'rev-slider/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'rev-slider/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'javascript/rev-slider.js' %}"></script>

<script src="{% static 'rev-slider/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'rev-slider/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'rev-slider/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'rev-slider/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'rev-slider/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'rev-slider/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'rev-slider/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'rev-slider/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'rev-slider/js/extensions/revolution.extension.video.min.js' %}"></script>
