{% extends 'includes/frame.html '%}
{% load static %}


{% block content %}
<div class="user_basket">
    <div class="container-fluid">
        <div class="cart_items">
            <div class="card" style="width: 18rem;">
                {% for obj in cart %}
                <img src="{{ obj.product.image.url }}" alt="">
                <div class="card-title">
                    <h4>{{ obj.product.title }}</h4>
                    {% for variant in obj.variant.all %}
                        <h4>{{ variant.variant_type }}: <span>{{ variant.variant_value }}</span></h4>
                    {% endfor %}
                    
                    <a class="plus_btn btn btn-primary" href=""><span><i class="fa fa-plus" aria-hidden="true"></i></span></a>
                    <input class="quantity" type="number" value="{{ obj.quantity }}">
                    <a class="minus_btn btn btn-primary" href=""><span><i class="fa fa-minus" aria-hidden="true"></i></span></a>
                    <a class="wish_list" href=""><span ><i class="fa-solid fa-heart"></i></span></a>
                    <h4 class="prd_price">₹{{ obj.price }}</h4>
                </div>
                {% endfor %}
            </div>
            
        </div>
        <div class="cart_totals">
            <div class="card" style="width: 18rem;">
              
                <div class="card-body" style="width : 17rem;">
                    <h5 class="order_sum">Order Summary</h5>
                    <div class="line"></div>
                    <h5 class="voucher_txt">Do you have any voucher</h5>
                    <input class="cart_voucher" type="text">
               
                    <a href="#" class="btn btn-primary apply-btn">Apply</a>
                    <p class="cart_price">Price</p>
                    <p class="cart_ship">Shipping Charges <span>Free</span></p>
                    <p class="cart_discount">Discount</p>
                
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    footer{
        display: none;
    }
</style>



{% endblock content %}



