{% extends 'includes/frame.html' %}
{% load static %}

{% block content %}
<body>
      <div class="page-title parallax parallax1">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-title-heading">
                <h1 class="title">Shop</h1>
              </div>
              <div class="breadcrumbs">
                <ul>
                  <li>
                    <a href="{% url 'home' %}">Home</a>
                  </li>
                  <li>
                    <a href="shop-3col.html">Shop</a>
                  </li>
                  <li>
                    <a href="shop-5col.html">Fullwidth Shop</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="cat_filters">
        <div class="cat_name">
          {% for obj in links  %}
          <a href="{% url 'filter_products' %}?category={{obj.slug}}" {% if obj.slug == category_slug %}class="active"{% endif %}>{{obj.title}}</a>
          {% endfor %}
        </div>
        <div class="search_filter">
          <!-- Search form -->
           <i class="fa fa-search" aria-hidden="true"></i>
        </div>

      </section>
      <section class="flat-row main-shop">
        <div class="container-fluid product-card ">
          {% for obj in products  %}
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="{{obj.image.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{obj.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              <a href="{% url 'single_product' obj.id %}" class="btn btn-danger prd_btn_page mt-3"><i class="fa fa-shopping-cart"></i>View Product</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      
      <section class="flat-row mail-chimp">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="text">
                <h3>Sign up for Send Newsletter</h3>
              </div>
            </div>
            <div class="col-md-8">
              <div class="subscribe clearfix">
                <form action="#" method="post" accept-charset="utf-8" id="subscribe-form">
                  <div class="subscribe-content">
                    <div class="input">
                      <input type="email" name="subscribe-email" placeholder="Your Email" />
                    </div>
                    <div class="button">
                      <button type="button">SUBCRIBE</button>
                    </div>
                  </div>
                </form>
                <ul class="flat-social">
                  <li>
                    <a href="{% url 'home' %}"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-behance"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      
    </body>
  {% endblock content %}

  <!-- Mirrored from themesflat.com/html/modaz/shop-5col.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 Feb 2023 14:39:27 GMT -->
</html>
