{% extends 'includes/frame.html' %}
{% load static %}

{% block content %}

 <!-- logout register wrap -->
 <section class="pt-30 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- dash board nav-->
                <div class="dashboard-inner">
                    <nav>
                        <ul class="nav-list nav">
                            {% comment %} <li>
                                <a class="dashboard-nav-item active" id="nav-dasboard" data-toggle="tab"  href="#dashboard"><span><img src="{% static 'icon/dashboard.svg' %}" class="svg" alt=""></span>Dashboard</a>
                            </li> {% endcomment %}
                            <li>
                                <a class="dashboard-nav-item active" id="nav-order"   href="{% url 'user_orders' %}"><span><img src="{% static 'icon/order.svg' %}" class="svg" alt=""></span>Orders</a>
                            </li>
                            <li>
                                <a class="dashboard-nav-item" id="nav-down"  href="{% url 'user_download' %}"><span><img src="{% static 'icon/download.svg' %}" class="svg" alt=""></span>Downloads</a>
                            </li>
                            <li>
                                <a class="dashboard-nav-item" id="nav-address" href="{% url 'user_address_edit' %}"><span><img src="{% static 'icon/address.svg' %}" class="svg" alt=""></span>Address</a>
                            </li>
                            <li>
                                <a class="dashboard-nav-item" id='nav-adetails'  href="#"><span><img src="{% static 'icon/account3.svg' %}" class="svg" alt=""></span>Account Details</a>
                            </li>
                            <li>
                                <a class="dashboard-nav-item" href="#"><span><img src="{% static 'icon/logout.svg' %}" class="svg" alt=""></span>Log Out</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End of dash board nav-->
            </div>
            <div class="col-lg-9">
                <!-- dashboard content -->
                <div class="deshboard-content-wrap">
                    <div class="tab-content dashboad-tab-content">
                        

                        <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby='nav-order'>
                            <!-- dashboard order -->
                            <div class="dashboard-tab-order">
                                <!-- dashboard order table -->
                                <table class="dashboard-order-table">
                                    <tbody>
                                        <tr>
                                            <th>Order No</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr>
                                            <td>#24567</td>
                                            <td>20 August 2018</td>
                                            <td>Processing</td>
                                            <td>$458 .52 <span>(1 Items)</span></td>
                                            <td><a href="#">View Details</a></td>
                                        </tr>
                                        <tr>
                                            <td>#24567</td>
                                            <td>20 August 2018</td>
                                            <td>Processing</td>
                                            <td>$458 .52 <span>(1 Items)</span></td>
                                            <td><a href="#">View Details</a></td>
                                        </tr>
                                        <tr>
                                            <td>#24567</td>
                                            <td>20 August 2018</td>
                                            <td>Processing</td>
                                            <td>$458 .52 <span>(1 Items)</span></td>
                                            <td><a href="#">View Details</a></td>
                                        </tr>
                                        <tr>
                                            <td>#24567</td>
                                            <td>20 August 2018</td>
                                            <td>Processing</td>
                                            <td>$458 .52 <span>(1 Items)</span></td>
                                            <td><a href="#">View Details</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--End of dashboard order table -->
                            </div>
                            <!-- End of dashboard order -->
                        </div>

                        <div class="dashboard-tab-downlod" style="display:none;">
                            <div class="d-flex justify-content-between align-items-center">
                                <p><span><i class="fa fa-warning"></i></span> No order has been made yet.</p>
                                <a href="#" class="go-shop-btn btn btn-fill-type">Go Shop</a>
                            </div>
                        </div>


                        <div class="address-info" style="display:none;">
                            <p>The following addresses will be used on the checkout page by default.</p>
                            <div class="address-info-inner clearfix">
                                <!-- Billing Information -->
                                <div class="billing-information">
                                    {% for obj in address  %}
                                
                                    <h5>Billing Information</h5>
                                    <ul>
                                        <li>
                                           {{obj.country}}
                                        </li>
                                        <li>Westminster CO</li>
                                        <li>Colorado</li>
                                        <li>80030</li>
                                        <li>970-219-0067</li>
                                        <li>Australia</li>
                                        <li><a href="{% url 'user_address_edit' obj.id %}">Edit</a></li>
                                    </ul>
                                    {% endfor %}
                                </div>
                                <!-- End of Billing Information -->

                                <!-- Shipping address -->
                                <div class="shipping-address">
                                    <h5>Shipping address</h5>
                                    <ul>
                                        <li>
                                            4968  Carolina Avenue
                                        </li>
                                        <li>Westminster CO</li>
                                        <li>Colorado</li>
                                        <li>80030</li>
                                        <li>970-219-0067</li>
                                        <li>Australia</li>
                                        <li><a class="address_edit" href="#">Edit</a></li>
                                    </ul>
                                </div>
                                <!-- End of Shipping address -->
                            </div>
                        </div>


                        <div class="account-details" style="display: none;">
                            <form action="#" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="theme-input-style" value="{{user.first_name}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="theme-input-style" placeholder="Last Name" value="{{user.last_name}}" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="theme-input-style" placeholder="Desplay Name" value="{{user.get_full_name}}" required>
                                        <p>This will be how your name will be displayed in the account section and in reviews</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <!-- password change -->
                                        <div class="passwrd-change-wrap">
                                            <h5>Password Change</h5>
                                            <input type="number" class="theme-input-style" placeholder="Current Password" required>
                                            <input type="number" class="theme-input-style" placeholder="New Password" required>
                                            <input type="number" class="theme-input-style" placeholder="Confirm Password" required>
                                            <div class="password-change-btn">
                                                <a href="#" class="go-shop-btn btn btn-fill-type">Submit</a>
                                            </div>
                                        </div>
                                        <!-- End of password change -->
                                    </div>
                                </div>
                            </form>
                        </div>


                        <div class="user-address" style="display: none;">
                            <form action="#" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">First Name</label>
                                        <input type="text" class="theme-input-style" value="{{user.first_name}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Last Name</label>
                                        <input type="text" class="theme-input-style" placeholder="Last Name" value="{{user.last_name}}" required>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="">Address Type</label>
                                        <input type="text" class="theme-input-style" value="{{user.first_name}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">City</label>
                                        <input type="text" class="theme-input-style" placeholder="City" value="{{user.last_name}}" required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="">Country</label>
                                        <input type="text" class="theme-input-style" value="{{user.first_name}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">State</label>
                                        <input type="text" class="theme-input-style" placeholder="City" value="{{user.last_name}}" required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="">Zip code</label>
                                        <input type="text" class="theme-input-style" value="{{user.first_name}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Phone Number</label>
                                        <input type="text" class="theme-input-style" placeholder="City" value="{{user.last_name}}" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mt-4">
                                        <label for="">Address 1</label>
                                        <input type="text" class="theme-input-style height-10" placeholder="Desplay Name" value="{{user.get_full_name}}" required>

                                        <label class="mt-4" for="">Address 2</label>
                                        <input type="text" class="theme-input-style height-10" placeholder="Desplay Name" value="{{user.get_full_name}}" required>
                                        {% comment %} <p>This will be how your name will be displayed in the account section and in reviews</p> {% endcomment %}
                                    </div>
                                </div>

                                
                            </form>
                        </div>

                        

                        

                        
                    </div>
                </div>
                <!-- End of dashboard content -->
            </div>
        </div>
    </div>
</section>
<!-- End of logout register wrap -->

   

  
  
		



{% endblock content %}



