{% extends 'includes/frame.html' %}
{% load static %}

{% block content %}


<div class="user_container">
    <div class="user_sidebar">
      <div class="container-fluid">
        <div class="sidebar">
          <img src="" alt="">
          <ul class="nav-items">
            <li><a href="">My Profile</a></li>
            <li><a href="">My Orders</a></li>
            <li><a href="">My Address</a></li>
            <li><a href="">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="user_profile">
      <div class="class-form">
        <label for="">First Name</label>
        <input disabled type="text" value="{{user.first_name}}">
      </div>
      <div class="class-form">
        <label for="">Last Name</label>
        <input disabled type="text" value="{{user.last_name}}">
      </div>
      <div class="class-form">
        <label for="">Email</label>
        <input disabled type="text" value="{{user.email}}">
      </div>
      <div class="class-form">
        <label for="">Username</label>
        <input disabled type="text" value="{{user.username}}">
      </div>
      <div class="class-form">
        <label for="">Phone Number</label>
        <input disabled type="text" value="{{user.phone_number}}">
      </div>
    </div>
  </div>


   
 

<style>
    footer{
        display: none;
    }
</style>
<script>
    var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function(){
      document.querySelector("body").classList.toggle("active");
    })
</script>

  
  
		



{% endblock content %}



